<!--Author: Hao Qiao-->

<div id="product" style="text-align: center">
    <a ng-show="home()" ng-click="auth()">
        <div class="image">
            <img style="width: 100%; height: 100%" src={{imageUrl}}>
        </div>
    </a>
    
        <a ng-show="user()" ui-sref="product({productID: productID})">
        <div class="image">
            <img style="width: 100%; height: 100%" src={{imageUrl}}>
        </div>
    </a>

    <a ng-show="admin()" ui-sref="productAdmin({id: productID})">
        <div class="image">
            <img style="width: 100%; height: 100%" src={{imageUrl}}>
        </div>
    </a> 

</div>

<a style="color: black; font-size: 20px;font-weight: normal;" ng-show="home()" ng-click="auth()">{{productName}}</a>
<a style="color: black; font-size: 20px;font-weight: normal;" ng-show="user()">{{productName}}</a>
<a style="color: black; font-size: 20px;font-weight: normal;" ng-show="admin()" ui-sref="productAdmin({id: productID})">{{productName}}</a>
