
<!--Author: Hao Qiao-->

<div id="blackOverlay" style="background-color: black; opacity: 0.5; position: absolute; top: 0; width: 100%; height: 1000px; z-index: 99"></div>
<login id="loginPanel"></login>

<div id="home">
    <div class="headSection">
        <div id="titleSection">        	
            <div class="overlay">
                <div id="homepageButtons" style="margin-top:38%;">
                    <div id="previous" style="color:rgb(255,153,0)">&#10094&nbsp&nbsp&nbsp</div>
                    <input class="button" type="button" value="SKIP" id="slideHide" style="border-style:none;background-color:rgb(255,153,0);color:rgb(255,255,255);border-radius:0px">
                    <div id="next" style="color:rgb(255,153,0)">&nbsp&nbsp&nbsp&#10095</div>
                </div>
            </div>
            <div class="imageMain" id="slides">
                <img src="images/slide2.jpg" style="height:100%;width:100%">
                <img src="images/slide2.jpg" style="height:100%;width:100%">
                <img src="images/slide3.jpg" style="height:750px;width:100%">
            </div>
        </div>
    </div>


    <div class="sideBar">
        <div class="logo">
            <img src="images/logo.png" style="height: 100px; width:270px">
        </div>
        <div class="navBar">
            <div>
                <img src="images/store.png" style="weight: 25px; height: 25px; position: relative;left: -45%; top: 20px;">
                <div style="background-color: rgb(252,200,69); height: 1px; margin-top: 22px"></div>
                <div style="text-align: left; margin-left: 30px; margin-top: 10px; width: 100%">
                    <a style= "color: white; font-size: 18px;" ng-click="goSubmission()">Submit Your Product</a><br>
                    <a style= "color: white; font-size: 18px; margin-top: 100px; width: 100%" ng-click="goWanted()">Submit Your Wanted</a>
                </div>
            </div>
            <div>
                <img src="images/cart.png" style="weight: 25px; height: 25px; position: relative;left: -45%; top: 10px;">
                <div style="background-color: rgb(252,200,69); height: 1px; margin-top: 12px"></div>
                <div style="text-align: left; margin-left: 30px; margin-top: 10px; width: 100%">
                    <a class="link" href="" ng-class="a1" ng-click="a1='selected'; a2='unselected';a3='unselected';changeProductState('released')">Released Product</a><br>
                    <a class="link" href="" ng-class="a2" ng-click="a2='selected'; a1='unselected'; a3='unselected';changeProductState('testing')">Test-Stage Product</a><br>
                    <a class="link" href="" ng-class="a3" ng-click="a3='selected'; a2='unselected'; a1='unselected';changeProductState('wanted')">Wanted List</a><br>
                </div>
            </div>
            <div>
                <img src="images/search.png" style="weight: 25px; height: 25px; position: relative; top: 10px;left: -7%">
                <input type="text" style="position: relative; top: 10px; width: 190px; border: 1px solid rgb(252,200,69);left: -7%">
                <div style="background-color: rgb(252,200,69); height: 1px; margin-top: 12px"></div>

                <div style="text-align: left; margin-left: 30px; margin-top: 10px; width: 100%">
                    <div style="color: white; font-size: 16px">Filter By:</div>
                    <a style= "color: white; font-size: 18px;">Fashion & Life Style</a><br>
                    <a style= "color: white; font-size: 18px;">Gadgets & Gear</a><br>
                    <a style= "color: white; font-size: 18px;">Arts & Crafts</a><br>
                    <a style= "color: white; font-size: 18px;">Home & Office</a><br>

                </div>
            </div>
            <br>

            <a style="font-size: 18px; color:rgb(255,153,0)" ng-show="currentUser == null;" ng-click="showLoginPanel()">SIGN IN TO VIEW MORE</a>
            <br>

            <div style="text-align: left; width: 100%; margin-top: 50px">
                <img src="images/user.png" style="weight: 90px; height: 90px">
                <div style="position: relative; top: -78px; left: 120px;">
                    <a ui-sref="user({email: currentUser})" style= "color: white; font-size: 16px;">{{currentUser}}</a><br>
                    <a ng-click="logout()" ng-show="currentUser" style= "color: white; font-size: 16px;">Log Out</a><br>
                    <a style= "color: white; font-size: 16px;">User Rulebook</a><br>
                </div>
            </div>
        </div>

    </div>
    <div id="productBoard">
        <div style="margin-left: 55px">
            <product class="block" ng-repeat="product in productsFactory" ng-init="productInitial(product.productName, product.productID)"></product>
        </div>
    </div>
    <div style="clear: both"></div>
    <br><br>

</div>
</div>




