
<!--Author: Hao Qiao-->

<div id="blackOverlay" style="background-color: black; opacity: 0.5; position: absolute; top: 0; width: 100%; height: 1000px; z-index: 99"></div>
<login id="loginPanel"></login>

<div id="home">

    <div ng-show="showLogin==true" style="position: absolute; left: 0; top: -550px; width: 100%; height: 1000px; background-color: black; z-index: 999999"></div>
    <div class="headSection">
    <div>
        <nav id="homeNav">
            <a id="submit" ui-sref="submission"><div><i class="fa fa-flag"></i> SUBMIT YOUR PRODUCT</div></a>

            <a id="webName" href=""ng-click="nameShow=false"><div>FUTRENA</div></a>

            <a id="shoppingCart" href=""><div><i class="fa fa-shopping-cart"></i> CART</div></a>
        </nav>
    </div>
        <div id="titleSection">
            <div class="overlay">
                <div class="title">
                        FUTRENA
                <div id="slogan">Modern to Future</div>
                </div>
                <div class="content" id="firstContent" style="font-weight:lighter">
                    <div style="font-size:33px; color:rgb(255,255,255)">Fashion</div>
                    <div>
                        <div style="display:inline-block; font-size:50px; margin-left:-10%;color:white">Luxury</div>
                        <div style="display:inline-block; font-size:30px; margin-left:20%; color:rgb(255,255,255)">Arts</div>
                    </div>
                    <div>
                        <div style="font-size:33px; color:rgb(255,255,255)">High-tech</div>
                        <div style="font-size:38px; color:rgb(255,255,255);margin-left:30%">Crafts</div>
                    </div>
                    <div style="font-size:23px; color:rgb(255,255,255); margin-right:30%">Autos</div>
                </div>
                <div class="content" id="secondContent" style="font-weight:lighter">
                    <div style="margin-left:130px;margin-top:10px">The world is an ARENA</div>
                    <div style="margin-right:130px;margin-top:10px">Submit your FUTURE</div>
                    <a style="font-size:20px;color:white">...Read more</a>
                </div>
                <div class="content" id="thirdContent" style="font-size:30px; font-weight:lighter">
                    <div>Distribute our products, &#945% becomes easy.</div>
                </div>
                <div id="homepageButtons" style="margin-top:50px">
                    <div id="previous">&#10094 PREV</div>
                    <input class="button" type="button" value="SKIP" id="slideHide">
                    <div id="next">NEXT &#10095</div>
                </div>
            </div>
            <div class="imageMain">
                <img src="images/banner4.jpg" style="height:700px"/>
                <img src="images/banner5.jpg" style="height:700px"/>
                <img src="images/banner3.jpg" style="height:700px"/>
            </div>
        </div>
        <div class="viewNavigator">
            <ul>
                <a class="link" href="" ng-class="a1" ng-click="a1='selected'; a2='unselected';changeProductState('released')">RELEASED PRODUCT</a>
                <a class="filter" ng-click="filterShow = !filterShow"><i class="fa fa-search"></i></a>
                <a class="link" href="" ng-class="a2" ng-click="a2='selected'; a1='unselected';changeProductState('testing')">TEST-STAGE PRODUCT</a>
            </ul>
            <div style="width: 90%; height: 2px; background-color: #bbbbbb; margin-left: auto; margin-right: auto"></div>
        </div>
        <div style="background-color: white; position: relative;">
        <div class="productNavigator" ng-show="filterShow === true">
            <div class="input-group">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" id="display">{{filterName}} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a class="link font first selected" ng-click="filterName = 'HIGH-TECH'" href="">ENTERTAINMENT & GAMING</a></li>
                        <li><a class="link font second unselected" ng-click="filterName = 'LIVING & OFFICE'" href="">LIVING & OFFICE</a></li>
                        <li><a class="link font third unselected" href="" ng-click="filterName = 'ARTS & CRAFTS'">ARTS & CRAFTS</a></li>
                        <li><a class="link font fourth unselected" href="" ng-click="filterName = 'LIFESTYLE & FASHION'">LIFESTYLE $ FASHION</a></li>
                        <li><a class="link font fifth unselected" href="" ng-click="filterName = 'AUTO TECH'">AUTO TECH</a></li>
                        <li class="divider"></li>
                    </ul>
                </div><!-- /btn-group -->
                <span class="input-group-addon" id="sizing-addon1">Last {{timeScale}} days</span>
                <input type="text" class="form-control" aria-label="...">
            </div><!-- /input-group -->
            <div id="timeSlide"><input type="range" min="1" max="31" value="1" step="5" ng-model="timeScale"></div>
        </div>
        </div>
    </div>
    <div class="productBoard">
        <product class="block" ng-repeat="product in productsFactory" ng-init="productInitial(product.productName, product.productID)"></product>
    </div>
    <div style="clear: both"></div>
    <a style="font-size: 18px; color:rgb(255,153,0)" ng-show="!loginSuccess" href="" ng-click="showLoginPanel()">SIGN IN TO VIEW MORE</a>
    <br>
    <br>
</div>
</div>




