<div id="otherUserPage">
    <nav class="homeNav" style="width: 100%; background-color: black; border: solid 1px black">
        <a class="webName1" ui-sref="home" style="font-size: 35px; color: orange">
            <div style="margin-left: 30px">FUTRENA</div>
        </a>
    </nav>
    <div id="targetInfo">
    	<div id="targetPhotoContainer">
    		<img id="targetPhoto" src="images/eminem.jpg">
    	</div>
    	<h3>{{targetName}}</h3>
    </div>
    <div role="tabpanel">
    	<ul class="nav nav-tabs" role="tablist">
    		<li role="presentation" class="active userPageTabs" id="wishListTab" style="margin-left:41%;cursor:pointer">
    			<a aria-controls="wishList" role="tab" data-toggle="tab">Wish List</a>
    		</li>
     		<li role="presentation" class="userPageTabs" id="distributionTab" style=";cursor:pointer">
    			<a aria-controls="distribution" role="tab" data-toggle="tab">Distribution</a>
    		</li>
     		<li role="presentation" class="userPageTabs" id="soldTab" style=";cursor:pointer">
    			<a aria-controls="sold" role="tab" data-toggle="tab">Sold Products</a>
    		</li>   		
    	</ul>
    </div>
    <div class="tab-content">
    	<div role="tabpanel" class="tab-pane active" id="wishListContent">
		    <div class="otherUserListItemBox">
                <div><img src="images/sample.png" style="width:100%;height:100%"></div>
                <div style="text-align:center;">Sample1</div>
            </div>
            <div class="otherUserListItemBox">
                <div><img src="images/sample.png" style="width:100%;height:100%"></div>
                <div style="text-align:center;">Sample</div>
            </div>
            <div class="otherUserListItemBox">
                <div><img src="images/sample.png" style="width:100%;height:100%"></div>
                <div style="text-align:center;">Sample</div>
            </div>
            <div class="otherUserListItemBox">
                <div><img src="images/sample.png" style="width:100%;height:100%"></div>
                <div style="text-align:center;">Sample</div>
            </div>
            <div class="otherUserListItemBox">
                <div><img src="images/sample.png" style="width:100%;height:100%"></div>
                <div style="text-align:center;">Sample</div>
            </div>
            <div class="otherUserListItemBox">
                <div><img src="images/sample.png" style="width:100%;height:100%"></div>
                <div style="text-align:center;">Sample</div>
            </div>
            <div class="otherUserListItemBox">
                <div><img src="images/sample.png" style="width:100%;height:100%"></div>
                <div style="text-align:center;">Sample</div>
            </div>
            <div class="otherUserListItemBox">
                <div><img src="images/sample.png" style="width:100%;height:100%"></div>
                <div style="text-align:center;">Sample</div>
            </div>
            <div class="otherUserListItemBox">
                <div><img src="images/sample.png" style="width:100%;height:100%"></div>
                <div style="text-align:center;">Sample</div>
            </div>
            <div class="otherUserListItemBox">
                <div><img src="images/sample.png" style="width:100%;height:100%"></div>
                <div style="text-align:center;">Sample</div>
            </div>
            <div class="otherUserListItemBox">
                <div><img src="images/sample.png" style="width:100%;height:100%"></div>
                <div style="text-align:center;">Sample</div>
            </div>
            <div class="otherUserListItemBox">
                <div><img src="images/sample.png" style="width:100%;height:100%"></div>
                <div style="text-align:center;">Sample</div>
            </div>
            <div class="otherUserListItemBox">
                <div><img src="images/sample.png" style="width:100%;height:100%"></div>
                <div style="text-align:center;">Sample</div>
            </div>
            <div class="otherUserListItemBox">
                <div><img src="images/sample.png" style="width:100%;height:100%"></div>
                <div style="text-align:center;">Sample</div>
            </div>
            <div class="otherUserListItemBox">
                <div><img src="images/sample.png" style="width:100%;height:100%"></div>
                <div style="text-align:center;">Sample</div>
            </div>
    	</div>
    	<div role="tabpanel" class="tab-pane" id="distributionContent">
		    <div class="otherUserListItemBox">
                <div><img src="images/sample.png" style="width:100%;height:100%"></div>
                <div style="text-align:center;">Sample2</div>
            </div>
            <div class="otherUserListItemBox">
                <div><img src="images/sample.png" style="width:100%;height:100%"></div>
                <div style="text-align:center;">Sample</div>
            </div>
            <div class="otherUserListItemBox">
                <div><img src="images/sample.png" style="width:100%;height:100%"></div>
                <div style="text-align:center;">Sample</div>
            </div>
            <div class="otherUserListItemBox">
                <div><img src="images/sample.png" style="width:100%;height:100%"></div>
                <div style="text-align:center;">Sample</div>
            </div>
            <div class="otherUserListItemBox">
                <div><img src="images/sample.png" style="width:100%;height:100%"></div>
                <div style="text-align:center;">Sample</div>
            </div>
            <div class="otherUserListItemBox">
                <div><img src="images/sample.png" style="width:100%;height:100%"></div>
                <div style="text-align:center;">Sample</div>
            </div>
            <div class="otherUserListItemBox">
                <div><img src="images/sample.png" style="width:100%;height:100%"></div>
                <div style="text-align:center;">Sample</div>
            </div>
            <div class="otherUserListItemBox">
                <div><img src="images/sample.png" style="width:100%;height:100%"></div>
                <div style="text-align:center;">Sample</div>
            </div>
            <div class="otherUserListItemBox">
                <div><img src="images/sample.png" style="width:100%;height:100%"></div>
                <div style="text-align:center;">Sample</div>
            </div>
            <div class="otherUserListItemBox">
                <div><img src="images/sample.png" style="width:100%;height:100%"></div>
                <div style="text-align:center;">Sample</div>
            </div>
            <div class="otherUserListItemBox">
                <div><img src="images/sample.png" style="width:100%;height:100%"></div>
                <div style="text-align:center;">Sample</div>
            </div>
            <div class="otherUserListItemBox">
                <div><img src="images/sample.png" style="width:100%;height:100%"></div>
                <div style="text-align:center;">Sample</div>
            </div>
            <div class="otherUserListItemBox">
                <div><img src="images/sample.png" style="width:100%;height:100%"></div>
                <div style="text-align:center;">Sample</div>
            </div>
            <div class="otherUserListItemBox">
                <div><img src="images/sample.png" style="width:100%;height:100%"></div>
                <div style="text-align:center;">Sample</div>
            </div>
            <div class="otherUserListItemBox">
                <div><img src="images/sample.png" style="width:100%;height:100%"></div>
                <div style="text-align:center;">Sample</div>
            </div>
    	</div>
    	<div role="tabpanel" class="tab-pane" id="soldContent">
		    <div class="otherUserListItemBox">
                <div><img src="images/sample.png" style="width:100%;height:100%"></div>
                <div style="text-align:center;">Sample3</div>
            </div>
            <div class="otherUserListItemBox">
                <div><img src="images/sample.png" style="width:100%;height:100%"></div>
                <div style="text-align:center;">Sample</div>
            </div>
            <div class="otherUserListItemBox">
                <div><img src="images/sample.png" style="width:100%;height:100%"></div>
                <div style="text-align:center;">Sample</div>
            </div>
            <div class="otherUserListItemBox">
                <div><img src="images/sample.png" style="width:100%;height:100%"></div>
                <div style="text-align:center;">Sample</div>
            </div>
            <div class="otherUserListItemBox">
                <div><img src="images/sample.png" style="width:100%;height:100%"></div>
                <div style="text-align:center;">Sample</div>
            </div>
            <div class="otherUserListItemBox">
                <div><img src="images/sample.png" style="width:100%;height:100%"></div>
                <div style="text-align:center;">Sample</div>
            </div>
            <div class="otherUserListItemBox">
                <div><img src="images/sample.png" style="width:100%;height:100%"></div>
                <div style="text-align:center;">Sample</div>
            </div>
            <div class="otherUserListItemBox">
                <div><img src="images/sample.png" style="width:100%;height:100%"></div>
                <div style="text-align:center;">Sample</div>
            </div>
            <div class="otherUserListItemBox">
                <div><img src="images/sample.png" style="width:100%;height:100%"></div>
                <div style="text-align:center;">Sample</div>
            </div>
            <div class="otherUserListItemBox">
                <div><img src="images/sample.png" style="width:100%;height:100%"></div>
                <div style="text-align:center;">Sample</div>
            </div>
            <div class="otherUserListItemBox">
                <div><img src="images/sample.png" style="width:100%;height:100%"></div>
                <div style="text-align:center;">Sample</div>
            </div>
            <div class="otherUserListItemBox">
                <div><img src="images/sample.png" style="width:100%;height:100%"></div>
                <div style="text-align:center;">Sample</div>
            </div>
            <div class="otherUserListItemBox">
                <div><img src="images/sample.png" style="width:100%;height:100%"></div>
                <div style="text-align:center;">Sample</div>
            </div>
            <div class="otherUserListItemBox">
                <div><img src="images/sample.png" style="width:100%;height:100%"></div>
                <div style="text-align:center;">Sample</div>
            </div>
            <div class="otherUserListItemBox">
                <div><img src="images/sample.png" style="width:100%;height:100%"></div>
                <div style="text-align:center;">Sample</div>
            </div>
    	</div>
    </div>
</div>